@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');

main{
    font-family: 'Poppins', sans-serif;  
    width: 1140px;
    height: 160px;
}

.title-main{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}
.text-center{
    text-align: center;

}
.color-blue{
    color: blue;
    
}
.background-blue{
    background-color: blue;
    line-height: 40px;
    
}
.background-black{
    background-color: black;
}

.color-white{
    color: rgb(255, 255, 255);
}
li{
    line-height: 40px;
    font-size: 20px;
    text-decoration-line: underline;
}
